

:root{
    --bg_color: black;
    --text-color: white;
    --text-color-hover: lightgrey;

    --font: Arial, Helvetica, sans-serif;
    --font-size-large: 19pt;
    --font-size-mid: 13pt;
    --font-size-small: 11pt;

    --body-width: 80%;
    --body-height: 100%;
}


html{
    color: var(--text-color);
    background-color: var(--bg_color);
    font-family: var(--font);
    overflow-x: hidden;
    margin-top: 0;
    padding-bottom: 20px;
    min-height: 100%;
    height: auto;
}
body{
    width: var(--body-width);
    height: var(--body-height);

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}


.header-bar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--bg_color);
    z-index: 10000;
}
.header-name-link {
    text-decoration: none;
    font-size: var(--font-size-mid);
    color: var(--text-color);
}
.header-name-link:hover{
    color: var(--text-color-hover);
    text-decoration: underline;
    text-underline-offset: 3px;
}


.wrapper{
    display: flex;
    justify-content: space-between;
}

.main-content{
    width: 75%;
}

.section{
    margin-bottom: 50px;
    height: 85vh;
    scroll-margin-top: 100px;
    position: relative;
}


.section-nav-container{
    width: 20%;
}
.section-nav-container ul{
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    list-style: none;
    padding: 0;
    margin: 15px;
}

.section-nav-item{
    margin-bottom: 15px;
    margin-top: 15px;
    align-self: center;
}
.section-nav-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-large);
    font-family: 'Courier New', Courier, monospace;
}
.section-nav-item a span{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-small);
}
.section-nav-item a:hover{
    color: red;
}


.home-section{
    display: block;
    padding-bottom: 15%;
}

/* COOL CANVAS REPEATING ANIMATION */
.home-section div{
    padding-bottom: 30px;
}

/* MY NAME */
.home-section span{
    font-family: var(--font);
    font-weight: bolder;
    font-size: 40pt;
    text-size-adjust: auto;
    letter-spacing: 3px;
}

.home-section hr{
    position: absolute;
    width: 15%;
}

.home-section p{
    padding: 0;
    text-transform: uppercase;
    word-spacing: 3px;
}


/* ABOUT SECTION */
.about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-section img{
    max-width: 40%;
    height: auto;
    border-radius: 15px;
    border: 2px solid white;
    filter: 
        drop-shadow(20px -20px 4px #dd444454)
        drop-shadow(-20px 20px 4px #4884de54);
}

.about-section p{
    max-width: 40%;
    border: 1px solid grey;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.about-section p span{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.about-section p a{
    color: white;
}

.section-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: bolder;
}


.skills-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.skills-container{
    width: 30%;
}

.skills-title{
    color: grey;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.skills-secondary-title{
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.skills-list li{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 20px;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: space-between;
}

.singular-project{
    width: 30%;
    max-width: 30%;
    height: max-content;
    justify-content: center;
    padding: 10px 0px;

}

.project-image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.project-image img{
    width: 100%;
}

.project-title{
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.project-description{
    color: rgb(139, 139, 139);
}

.project-tools{
    text-transform: uppercase;
    font-size: small;
    font-weight: bolder;
}

.project-buttons{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}

.project-buttons a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 15px;
    border-radius: 10px;
}

.project-view-link{
    color: black;
    background-color: lightgray;
}

.project-src-link{
    color: white;
    border: 2px solid white;
}