

:root{
    --bg_color: black;
    --text-color: white;
    --text-color-hover: lightgrey;

    --font: Arial, Helvetica, sans-serif;
    --font-size-large: 19pt;
    --font-size-mid: 13pt;
    --font-size-small: 11pt;

    --body-width: 80%;
    --body-height: 100%;
}


html{
    color: var(--text-color);
    background-color: var(--bg_color);
    font-family: var(--font);
    overflow-x: hidden;
    margin-top: 0;
    padding-bottom: 20px;
    min-height: 100%;
    height: auto;
}
body{
    width: var(--body-width);
    height: var(--body-height);
    justify-content: center;
    margin-top: 0; 
    margin-left: auto;
    margin-right: auto;
}


.header-bar{
    position: sticky;
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--bg_color);
    z-index: 5000000;
    min-width: 100%;
    max-width: 100%;
}
.header-name-link {
    text-decoration: none;
    font-size: var(--font-size-mid);
    color: var(--text-color);
}
.header-name-link:hover{
    color: var(--text-color-hover);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

  /* Fade out the second bar */
.change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.main-content{
    width: 75%;
}

.section{
    margin-bottom: 50px;
    height: 85vh;
    scroll-margin-top: 100px;
    position: relative;
}


.section-nav-container{
    width: 20%;
}
.section-nav-container ul{
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    list-style: none;
    padding: 0;
    margin: 15px;
}

.section-nav-item{
    margin-bottom: 15px;
    margin-top: 15px;
    align-self: center;
}
.section-nav-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-large);
    font-family: 'Courier New', Courier, monospace;
}
.section-nav-item a span{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-small);
}
.section-nav-item a:hover{
    color: red;
}

.hidden-nav-item{
    margin-bottom: 15px;
    margin-top: 15px;
    align-self: center;
}
.hidden-nav-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-large);
    font-family: 'Courier New', Courier, monospace;
}
.hidden-nav-item a span{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-small);
}
.hidden-nav-item a:hover{
    color: red;
}

.hidden-nav-bar{
    position: fixed;
    top: 99px;
    width: 200px;
    right: 10%;
    background-color: #424242ee;
    display: none;
    z-index: 99;
    font-weight: bold;
}

.hidden-nav-bar ul{
    list-style: none;
}

.active{
    display: block;
}

.home-section{
    display: block;
    padding-bottom: 15%;
}

/* COOL CANVAS REPEATING ANIMATION */
.home-section div{
    padding-bottom: 30px;
}

/* MY NAME */
.home-section span{
    font-family: var(--font);
    font-weight: bolder;
    font-size: 40pt;
    text-size-adjust: auto;
    letter-spacing: 3px;
}

.home-section hr{
    position: absolute;
    width: 15%;
}

.home-section p{
    padding: 0;
    text-transform: uppercase;
    word-spacing: 3px;
}


/* ABOUT SECTION */
.about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-picture-container{
    max-width: 40%;
    min-width: 300px;
    text-align: center;
    padding: 15px;
}

.profile-picture-container img{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(20px -20px 4px #dd444454) drop-shadow(-20px 20px 4px #4884de54);
}


.about-section p{
    max-width: 40%;
    min-width: 300px;
    border: 1px solid grey;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.about-section p span{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.about-section p a{
    color: white;
}

.section-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: bolder;
}


.skills-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.skills-container{
    width: 30%;
    min-width: 250px;
    margin-top: 50px;
}

.skills-title{
    color: grey;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.skills-secondary-title{
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.skills-list li{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 20px;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: space-evenly;
}

.singular-project{
    width: 30%;
    max-width: 30%;
    min-width: 250px;
    height: max-content;
    justify-content: center;
    padding: 10px 0px;
    margin: 10px;
}

.project-image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.project-image img{
    width: 100%;
}

.project-title{
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.project-description{
    color: rgb(139, 139, 139);
}

.project-tools{
    text-transform: uppercase;
    font-size: small;
    font-weight: bolder;
}

.project-buttons{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}

.project-buttons a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 15px;
    border-radius: 10px;
}

.project-view-link{
    color: black;
    background-color: lightgray;
}

.project-src-link{
    color: white;
    border: 2px solid white;
}

.contact-section{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-section a{
    text-decoration: none;
}


/* RESPONSIVENESS */
@media (min-width: 1200px){
    .hidden-nav-bar{
        display: none;;
    }
}

@media (max-width: 1200px){
    .section-nav-container{
        display: none;
    }
    .main-content{
        width: 100%;
    }
    .hamburger-menu{
        display: inline-block;
    }
}

@media (max-width: 1000px){
    
}

@media (max-width: 600px){
    body{
        width: 95%;
        height: auto;
    }
    .hidden-nav-bar{
        right: 5%;
    }
}