html {
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    box-sizing: border-box;
}

body {
    scroll-margin-top: 80px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    background-color: #FFF; 
    font-weight: 400;
    font-style: normal; 
    color: #373737;
    margin: 0;
}

iframe {border: 0; outline: none;}
ul {padding: 0; margin: 0;}

.header-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    background-color: #FFF;
}

.header-bar-inner{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.header-bar-inner .header-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header-bar-inner .header-logo span{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: slategray;
    border: 2px solid black;
    border-radius: 8px;
}

.header-bar-inner .page-links{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.header-bar-inner .page-links li{
    padding-left: 10px;
    text-transform: uppercase;
}

.header-bar-inner .page-links li a{
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header-bar .page-links li a:hover{
    color: red;
}

.banner{
    margin-top: 50px;
}

.banner .container{
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
    height: 100%;
    padding: 10px;
    background-color: #FFF;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.banner img{
    width: 300px;
    border-radius: 15px;
    float:left;
    margin: 10px;
}

.banner section{
    padding: 10px;
}

.banner section h3{
    font-weight: 300;
    font-size: xx-large;
}

.banner section h3 span{
    font-weight: 100;
    font-size: large;
}

.banner ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-me {
    margin-top: 10;
    padding-bottom: 30px;
}

.resume-section-title{
    font-weight: bold;
    font-size: 15pt;

    text-align: left;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: red;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.resume-section{
    margin: auto;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
}

.resume-section .container{
    vertical-align: baseline;
}

.resume-section p{
    padding-left: 20px;
    padding-right: 20px;

    font-size: 15pt;

    color: #747474;
}

.about-me #skills-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-top: 50px;
}

.about-me #skills-section div{
    max-width: 400px;
}

.about-me #skills-section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-me #skills-section ul li{
    padding: 6px 10px;
    margin: 5px;
    
    border-radius: 25px;
    border-color:rgb(175, 175, 175);
    border-width: 1px;
    border-style: solid;

    text-align: center;
    font-size: 12pt;
    letter-spacing: 2px;
}

#download-resume-button{
    display: flex;
    justify-content: center;
}

#download-resume-button button{
    padding: 5px 20px;
    
    background-color: #FFF;
    color: red;
    font-size: 13pt;
    letter-spacing: 2px;
    
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

#download-resume-button button:hover{
    background-color: red;
    color: #FFF;
}

.experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.experience-account{
    margin: 10px;
    max-width: 500px;
}

.experience-header{
    padding-top: 10px;
    padding-bottom: 20px;
}

.experience-header p{
    margin: 0;
    padding: 0;
}

.experience-header .experience-timeline{
    color: rgb(101, 101, 101);
    font-size: 11pt;
}

.experience-header .experience-company{
    color: black;
    font-size: 15pt;
}

.experience-header .experience-role{
    color: rgb(61, 61, 61);
    font-size: 13pt;
    font-weight: 700;
}

.experience-account .experience-text{
    color: #747474;
    font-size: 12pt;
}

.experience-duties{
    padding-left: 30px;
    list-style: circle;
}
.experience-duties li{
    margin: 10px 0px;
}

.projects-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.project-singular{
    background-color: #ababab;
    border-radius: 10px;
    align-items: center;
    min-width: 350px;
    max-width: 350px;
    padding: 10px;
    box-shadow: 3px 3px #6d6d6d;
    margin: 10px
}

.project-singular img{
    width: 300px;
    height: 300px;
    border-radius: 3px;
    border-style: solid;
    border-color: #373737;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.project-singular h5{
    color: #373737;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 15pt;
}

.project-singular ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.project-singular ul li{
    background-color: #FFF;
    color:rgb(101, 101, 101);

    margin: 1px 0px 1px 5px;
    padding: 3px 7px;

    border-radius: 5px;
}

.project-singular p{
    color: #373737;
}

.project-singular button{
    border-style: none;
    border-radius: 4px;
    padding: 10px 17px;
    text-align: center;
}