html {
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    background-color: #FFF; 
    font-weight: 400;
    font-style: normal; 
    color: #373737;
    margin: 0;
}

iframe {border: 0; outline: none;}
ul {padding: 0; margin: 0;}

.header-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    align-items: center;
    background-color: #FFF;
}

.header-bar-inner{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.header-bar-inner .header-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header-bar-inner .header-logo span{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: slategray;
    border: 2px solid black;
    border-radius: 8px;
}

.header-bar-inner .page-links{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.header-bar-inner .page-links li{
    padding-left: 10px;
    text-transform: uppercase;
}

.header-bar-inner .page-links li a{
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header-bar .page-links li a:hover{
    color: red;
}

.banner{
    margin-top: 50px;
}

.banner .container{
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
    height: 100%;
    padding: 10px;
    background-color: #FFF;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.banner img{
    width: 300px;
    border-radius: 15px;
    float:left;
    margin: 10px;
}

.banner section{
    padding: 10px;
}

.banner section h3{
    font-weight: 300;
    font-size: xx-large;
}

.banner section h3 span{
    font-weight: 100;
    font-size: large;
}

.banner ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about {
    margin-top: 10;
}

.resume-section-title{
    font-weight: bold;
    font-size: 15pt;

    text-align: left;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: red;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.resume-section{
    margin: auto;
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
}

.resume-section .container{
    vertical-align: baseline;
}

.resume-section p{
    padding-left: 20px;
    padding-right: 20px;

    text-indent: 30px;
    font-size: 15pt;

    color: #747474;
}


.about #skills-section{
    display: flex;
    justify-content: space-evenly;
}

#download-resume-button{
    display: flex;
    justify-content: center;
}

#download-resume-button button{
    padding: 5px 20px;
    
    background-color: #FFF;
    color: red;
    font-size: 13pt;
    letter-spacing: 2px;
    
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: red;

}

#download-resume-button button:hover{
    background-color: rgb(255, 81, 81);
    color: #FFF;
    
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 81, 81);
}